@import "/src/common/styles/variables";
@import "/src/common/styles/colors";
@import "/src/common/styles/templates";

.formContainer {
  display: inline-block;
  position: relative;
}

.inputTask {
  @include input-item(30vw);
}

.formContainer .addBox {
  height: $todo-item-height;
  color: $todo-dark-color;
  font-size: $todo-item-height / 2;

  position: absolute;
  top: 0;
  right: $input-padding;
}
