@import "/src/common/styles/colors";
@import "/src/common/styles/variables";

%header {
  padding: 4rem 0;
  color: $light-color;
  font-size: 4rem;
  font-weight: $bold-weight;
  text-align: center;
}

@mixin input-item($width) {
  padding: $input-padding;
  width: $width;
  height: $todo-item-height;
  border: none;
  background-color: $light-color;
}

@mixin button($bg-color) {
  width: $todo-item-height / 1.2;
  height: $todo-item-height;
  background-color: $bg-color;
  color: $light-color;
}
